.btn-with-text {
	display: flex;
	align-items: center;
	padding:3px;
	border-radius:5px;

	&:hover{
		cursor: pointer;
		transition: background-color 0.3s;
		background-color: $color-medium-grey;
		outline: none;
		// transform: scale(1.1);
		.btn-with-text__btn{
			background-color: $color-dark-pink;
		}
	}
	&:focus{
		cursor: pointer;
		transition: background-color 0.3s;
		background-color: $color-medium-grey;
		outline: none;
		.btn-with-text__btn{
			background-color: $color-dark-pink;
		}
		// transform: scale(1.1);
	}
	&__text{
		font-size: 16px;
		line-height: 24px;
		color: $color-shade-black;
		letter-spacing: -0.2px;
		font-weight: 500;
	}

	&__btn {
		margin-left: 9px;
	}


}