.btn {
	width: 40px;
	min-width: 40px;
	height: 40px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	font-family: TT Lakes;
	font-weight: 500;
  cursor:pointer;

  
  
  &--choosed{
    color: $color-dark-grey;

    &:hover{
      cursor:default;
    }
  }

  &--close-icon {
    background: $color-pink url("../img/site-header/close-ic.svg") 50% 50% no-repeat;
  }

  &--flex-shrink--none{
    flex-shrink: 0;
  }

  &--interactive--change-bg-1{
    &:focus{
      background-color: $color-medium-grey;
      transition: background-color 0.3s;
      outline: none;
    }
    &:hover{
      background-color: $color-medium-grey;
      transition: background-color 0.3s;
      cursor:pointer;
      outline: none;
    }
  }

  &--interactive--change-bg-2{
    &:focus{
      background-color: $color-dark-pink;
      transition: background-color 0.3s;
      outline: none;
    }
    &:hover{
      background-color: $color-dark-pink;
      transition: background-color 0.3s;
      cursor:pointer;
      outline: none;
    }

  }

  &--round{
    border-radius: 50%;
  }
  
  &--hamburger-icon{
    background: $color-pink url("../img/site-header/hamburger-ic.svg") 50% 50% no-repeat;
  }
  
  &--phone-icon {
    background: $color-pink url("../img/site-header/phone-ic.svg") 50% 50% no-repeat;
  }
  
  &--margin-left--7px{
    margin-left: 7px;
  }

  &--message-icon {
    background: $color-pink url("../img/site-header/message-ic.svg") 50% 50% no-repeat;
  }
  
  &--profile-icon {
    background: $color-pink url("../img/site-header/profile-ic.svg") 50% 50% no-repeat;
  }
  
  &--services-icon {
    background: $color-pink url("../img/site-header/services-ic.svg") 50% 50% no-repeat;
  }
  
  &--page-search-icon {
    background: $color-pink url("../img/site-header/page-search-ic.svg") 50% 50% no-repeat;
  }
  
  &--search-icon {
    background: $color-pink url("../img/site-header/search-ic.svg") 50% 50% no-repeat;
    display: none;
  }
  
  &--show {
    display: block;
  }

  &--small{
    width:27.5px;
    height: 27.5px;
    min-width: 27.5px;
    font-size: 16px;
    line-height: 27.5px;
    letter-spacing: -0.2px;
  }

  &--wide{
    width: 119px;
    height: 32px;
    background: $color-pink;
    border-radius: 16px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: $color-white;
    text-align: left;
    padding-left: 12px;
    align-self: flex-end;
  }
}

