.btn {
	width: 40px;
	min-width: 40px;
	height: 40px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	font-family: TT Lakes;
	font-weight: 500;
  cursor:pointer;

  &--flex-shrink--none{
    flex-shrink: 0;
  }

  &--round{
    border-radius: 50%;
  }
  
  &--hamburger-icon{
    background: #FF3E79 url("../img/site-header/hamburger-ic.svg") 50% 50% no-repeat;
  }
  
  &--phone-icon {
    background: #FF3E79 url("../img/site-header/phone-ic.svg") 50% 50% no-repeat;
  }
  
  &--message-icon {
    background: #FF3E79 url("../img/site-header/message-ic.svg") 50% 50% no-repeat;
  }
  
  &--profile-icon {
    background: #FF3E79 url("../img/site-header/profile-ic.svg") 50% 50% no-repeat;
  }
  
  &--services-icon {
    background: #FF3E79 url("../img/site-header/services-ic.svg") 50% 50% no-repeat;
  }
  
  &--page-search-icon {
    background: #FF3E79 url("../img/site-header/page-search-ic.svg") 50% 50% no-repeat;
  }
  
  &--search-icon {
    background: #FF3E79 url("../img/site-header/search-ic.svg") 50% 50% no-repeat;
    display: none;
  }
  
  &--show {
    display: block;
  }
}

