.footer{
    text-align: center;
    padding: 16px 16px 19px;
    height: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    mix-blend-mode: normal;
    opacity: 0.72;
}