.nav-item {
	white-space: nowrap;
	text-decoration: none;
	padding: 6px 16.5px 6px;
	border: 2px solid transparent;
	border-radius: 6px;
	background-color: transparent;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.2px;
	color: #7E7E82;
	font-weight: 500;

	&:focus:not(.nav-item--choosed){
		outline: none;
		background-color: #d8d7d7;
    	transition: background-color 0.3s;
	}
	&:hover:not(.nav-item--choosed){
		outline: none;
		background-color: #d8d7d7;
    	transition: background-color 0.3s;
	}

	&--choosed{
		border: 2px solid #B8FFEC;
		background-color: #fff;
		cursor: default;
	}

}