.page-heading-right-side {
	display: none;
	
	@media screen and (min-width:1120px){
		display: flex;
	}

	&__btn-with-text{
		margin-right: 32px;

		// :focus{
		// 	cursor: pointer;
		// 	transition: background-color 0.3s;
		// 	background-color: $color-medium-grey;				
			
		// 	.btn-with-text__btn{
		// 		background-color: $color-dark-pink;
		// 	}
		// }
		// :hover{
		// 	cursor: pointer;
		// 	transition: background-color 0.3s;
		// 	background-color: $color-medium-grey;
			
		// 	.btn-with-text__btn{
		// 		background-color: $color-dark-pink;
		// 	}
		// }
	}
}