.site {
	margin: 0 auto;
	max-width: 1440px;
	background-color: #fff;

	@media screen and (min-width:1120px){
		display: flex;
	}
	&__container {
		max-width: 1120px;
		margin: 0 auto;
		background: #F8F8F8;
		@media screen and (min-width:1120px){
			background: #FFF;
		}
	}

	&__header{
		@media screen and (min-width:1120px){
			display: none;
		}
	}

	&__navbar{
		display: none;
		// position: absolute;
    	// left:0;
		@media screen and (min-width:1120px){
			display: block;
		}
	}
}