.text{
    font-family: "TT Lakes",sans-serif;
    color: $color-shade-black;

    &--card-value{
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      margin-top: 4px;
    }

    &--description-color{
      color: $color-dark-grey;
    }

    &--placeholder-color{
      color: #B5B6BC;
    }
    
    &--white{
      color:$color-white;
    }

    &--pink{
      color:$color-pink;
    }
}