$color-white:#fff;
$color-black:#000;
$color-shade-black:#1B1C21;
$color-blur-window:rgba(255,255,255,96.05%);
$color-light-grey:#F8F8F8;
$color-medium-grey:#d8d7d7;
$color-dark-grey:#7E7E82;
$color-pink:#FF3E79;
$color-dark-pink: #e42861;
$color-light-green: #B8FFEC;