.repair-electronics{

  .swiper-wrapper{
    height: 228px;

    @media screen and (min-width: 768px){
      height: 240px;
    }

    @media screen and (min-width: 1440px){
      height: 259px;
    }
  }

  .swiper-slide{
    height: 160px;
  }

  .swiper {
    &__translucent-vertical-border {
      margin-top: 10px;
      height: 166px; 
    }
  }

  .right-array{
    align-self:flex-end;
  }

  &__text{
    font-size: 16px;
    line-height: 24px;
    align-self: flex-start;
    font-weight: 500;
    text-align: left;
    letter-spacing: -0.2px;
  }
}