.slider-block {
	
	&__hidden-text{
		position:absolute;
		bottom:32px;
	}

	.continuation {
		&__hidden-text{
			&:after {
				content: "Показать все";
				margin-right: 5px;
			}
			
			&--displayed{
				&:after {
					content: "Скрыть";
				}
			}
			
			@media screen and (min-width:1440px) {
				bottom: 50px;
			}
		}
	}
}
