.translucent-vertical-border {
	position: fixed;
	right: 0;
	width: 21px;
	height: 40px;
	background: linear-gradient(to left, #F8F8F8 5px,transparent);

	@media screen and (min-width:1121px){
		display: none;
	}
}